/***********      ************/
/*********** Hero ************/
/***********      ************/

.hero>h2{
    font-size:6em;
    font-weight:600;
}

.hero>h3{
    font-size:2.8em;    
    font-weight:700;
}

.hero>a{
    font-size:.7em;
}

.hero{
    height:250px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-img{
    height:250px;
    width:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: -1;
    opacity: .7;
}

#London{
    background-image: url(../public/images/london-lg.jpg);
}
#Sydney{
    background-image: url(../public/images/sydney.jpg);
}
#Perth{
    background-image: url(../public/images/perth.jpg);
}
#Los_Angeles{
    background-image: url(../public/images/california.jpg);
}
#New_York{
    background-image: url(../public/images/newyork.jpg);
}


/***********               ************/
/*********** City Selector ************/
/***********               ************/

.divider{
    height:12px;
    background-image: linear-gradient(to right, #F5BA7A, #ED5DAE);
    display:flex;
    justify-content: center;
}

.selector{
    width:100px;
    height:36px; 
    border-radius: 30px;
    background-color:white;
    position:relative;
    bottom: 100%;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

.selector input[type="radio"]{
    font-size: 2em;
}


/***********               ************/
/***********   Main page   ************/
/***********               ************/


.week-day>h4{
    font-size:1.7em;
}

.week-day{
    display:flex;
    justify-content: space-between;
    width:100%;
    padding:5px 0px;
}

.temp-high{
    font-weight:bold;
}

.high-low-temp{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width:50%;
}

.high-low-temp>p{
    font-size:1.4em;
    padding:3px;
}

.contact{
    height:100%;    
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-top: 30px;
}

.contact>span{
    font-weight:bold;
    text-decoration: underline;
    color:white;
}

.daily-report{
    height:75px;
    width:100%;
    background-color:#381677;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

.time>p{
    font-size: .6em;
}



/***********                  ************/
/***********   Contact Page   ************/
/***********                  ************/


.weatherman>img{
    width:100px;
    height:100px;
    background-color:red;
    border-radius:50%;
}



.previous-page{
    padding-top:25px;
    text-align: center;
    font-size:.7em;
}

.weatherman{
    display: flex;
    justify-content: space-between;
    margin-top:20px;
}

.weatherman-bio{
    width:60%;
    display:flex;
    flex-direction: column;
}


.weatherman-bio>h3{
    padding-bottom:6px;
    font-weight:400;
}

span{
    font-weight:700;
}
.weatherman-bio>p{
    font-size:.65em;
}

.complaints{
    font-size:2em;
    padding:20px 0px;
    font-weight: 500;
}
form>input{
    width:100%;
    border-radius: 8px;
    border:none;
    background-color: #381677;
    height:35px;
}

.complaint-text{
    height:81px;
}

.submit-btn{
    width: 150px;
    height:35px;
    position: relative;
    float:right;
    background-color:#ED61AB;
    color:white;
    font-family:'Raleway', sans-serif;
    font-size:1.5em;
    font-weight:700;
    margin-top:10px;

}

.thanks {
    padding:30px;
    font-size: .65em;    
}

.home-link {
    display: flex;
    justify-content: center;
}

.home-btn {
    background-color: #ED61AB;
    padding: 10.5px 21px;
    border-radius: 8px;
    color: white;
    font-family:'Raleway', sans-serif;
    text-decoration: none;
    vertical-align: middle;
    font-weight: bold;
}

.home-btn:hover {
    border-top-color: #28597a;
    background: #28597a;
    color: #ccc;
    }
 .home-btn:active {
    border-top-color: #1b435e;
    background: #1b435e;
    }


